# Force to HTTPS
RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://nylnook.art/$1 [R,L]

# Gzip Godot files
<ifModule mod_gzip.c>
mod_gzip_item_include file \.(wasm|pck)$
</ifModule>
